<%= render 'partials/navbar'%>
<br>
    <br>
        <p>
            Welcome to my site! Everything is still a work in progress, so please feel free to check back regularly!
         </p>
    <br>
        <p>
            I am the Caffiene Sage, I enjoy programming and caffinated beverages. This site was built using the Ruby on Rails framework.
                <a href="https://rubyonrails.org/">Feel free to check it out here!</a>
        </p>

