  .about_text{
    color: #334;
    background-color: #FA0;
    height: 150px;
    width: 35%;
    border-radius: 22px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    right: 10%;
    top: 20%;
  }

  body{
    background-color: #222;
  }